.swal-button {
    &.swal-button--cancel, &.swal-button--confirm, &.swal-button--danger {
        @apply .border-solid;

        &:focus {
            @apply .outline-none .shadow-none;
        }
    }
}

.btn, .swal-button {
    @apply .bg-secondary .text-secondary-darkest .font-normal .text-sm .font-semibold .py-2 .px-4 .rounded .outline-none;
    cursor: pointer;

    &.is-primary {
        @apply .bg-primary .text-white;

        &:hover {
            @apply .bg-primary-dark;
        }
    }

    &.is-outlined, &.swal-button--cancel {
        background: transparent;
        @apply .border .border-secondary-dark .text-secondary-darker;
        &:hover {
            @apply .bg-secondary .text-secondary-darkest;
        }

        &.is-primary {
            @apply .border-primary;
            &:hover {
                @apply .border-secondary-dark;
            }
        }
    }

    &.is-small {
        @apply .text-xs .py-1 .px-3;
    }

    &.is-normal {
        @apply .text-sm .py-2 .px-4;
    }

    &:hover {
        @apply .bg-secondary-dark .text-white;
    }

    &.is-narrow {
        @apply .py-1 .px-2;
    }

    &.swal-button--confirm {
        @apply .bg-success-light .text-white .border .border-solid .border-success;

        &:hover {
            @apply .bg-success .border .border-success-dark .border-solid .text-white;
        }
    }

    &.swal-button--danger {
        @apply .bg-error-light .text-white .border .border-solid .border-error;

        &:hover {
            @apply .bg-error .border .border-error-dark .border-solid .text-white;
        }
    }
}

.btn-text {
    @apply .bg-transparent .text-secondary-dark .font-normal .text-sm .font-semibold .p-0 .border-none .no-underline;
    cursor: pointer;

    &.is-primary {
        @apply .text-primary;

        &:hover {
            @apply .text-primary-dark;
        }
    }

    &.is-small {
        @apply .text-xs;
    }

    &:hover {
        @apply .text-secondary-darkest;
    }
}

button.burger {
    @apply .flex .items-center .px-3 .py-2 .border .rounded .text-primary-dark .border-primary-light;

    &:hover {
        @apply .text-primary-dark .bg-primary-lightest .border-primary-dark;
    }
}
